<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>

<th:block th:fragment="footer">
<style>
    footer {
        background-color: #343a40;
        color: #fff;
        padding: 20px 0;
        text-align: center;
    }

    footer a {
        color: #28a745;
        margin: 0 10px;
        font-size: 1.5rem;
        text-decoration: none;
    }

    footer p {
        margin-bottom: 0;
    }

    footer hr {
        border-color: rgba(255, 255, 255, 0.2);
    }


</style>
    <footer>
        <div class="footer-links">
            <a href="https://www.naturzoo.de/impressum" target="_blank">Impressum</a>
            <a href="https://www.naturzoo.de/datenschutz" target="https://www.naturzoo.de/datenschutz">Datenschutz</a>
            <a href="https://www.naturzoo.de/newsletter/anmeldung" target="_blank">Newsletter</a>
            <a href="https://www.naturzoo.de/sitemap" target="_blank">Sitemap</a>
        </div>
        <div class="social-icons">
            <a href="https://www.youtube.com/@NaturZooYoutube" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com/naturzoo" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/naturzoo" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://whatsapp.com/channel/0029VapC8nI1CYoZdnUytI3D" target="_blank"><i class="fab fa-whatsapp"></i></a>
            <a href="tel:+495971161480"><i class="fas fa-phone"></i></a>
        </div>
        <p>Kontakt: <a href="mailto:info@naturzoo.de">info@naturzoo.de</a></p>
    </footer>
</th:block>
</html>